<launch>
	<arg name="num" default="1"/>

	<node name="simple_offboard$(arg num)" pkg="clover" type="simple_offboard" output="screen" clear_params="true">
		<param name="reference_frames/body" value="map"/>
		<param name="reference_frames/base_link" value="map"/>
		<param name="reference_frames/navigate_target" value="map"/>

		<remap from="/mavlink/to" to="/mavlink$(arg num)/to"/>
		<remap from="/mavlink/from" to="/mavlink$(arg num)/from"/>
		<remap from="/tf" to="/tf$(arg num)" />
		<remap from="/tf_static" to="/tf_static$(arg num)" />

		<remap from="mavros/cmd/arming" to="/mavros$(arg num)/cmd/arming"/>
		<remap from="mavros/set_mode" to="/mavros$(arg num)/set_mode"/>

		<remap from="mavros/state" to="/mavros$(arg num)/state"/>
		<remap from="mavros/local_position/velocity_body" to="/mavros$(arg num)/local_position/velocity_body"/>
		<remap from="mavros/global_position/global" to="/mavros$(arg num)/global_position/global"/>
		<remap from="mavros/battery" to="/mavros$(arg num)/battery"/>
		<remap from="mavros/statustext/recv" to="/mavros$(arg num)/statustext/recv"/>
		<remap from="mavros/manual_control/control" to="/mavros$(arg num)/manual_control/control"/>
		<remap from="mavros/local_position/pose" to="/mavros$(arg num)/local_position/pose"/>

		<remap from="mavros/setpoint_position/local" to="/mavros$(arg num)/setpoint_position/local"/>
		<remap from="mavros/setpoint_raw/local" to="/mavros$(arg num)/setpoint_raw/local"/>
		<remap from="mavros/setpoint_attitude/attitude" to="/mavros$(arg num)/setpoint_attitude/attitude"/>
		<remap from="mavros/setpoint_raw/attitude" to="/mavros$(arg num)/setpoint_raw/attitude"/>
		<remap from="mavros/setpoint_attitude/cmd_vel" to="/mavros$(arg num)/setpoint_attitude/cmd_vel"/>
		<remap from="mavros/setpoint_attitude/thrust" to="/mavros$(arg num)/setpoint_attitude/thrust"/>

		<remap from="get_telemetry" to="get_telemetry$(arg num)"/>
		<remap from="navigate" to="navigate$(arg num)"/>
		<remap from="navigate_global" to="navigate_global$(arg num)"/>
		<remap from="set_position" to="set_position$(arg num)"/>
		<remap from="set_velocity" to="set_velocity$(arg num)"/>
		<remap from="set_attitude" to="set_attitude$(arg num)"/>
		<remap from="set_rates" to="set_rates$(arg num)"/>
		<remap from="land" to="land$(arg num)"/>

	</node>

</launch>
